<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JOIN</title>
</head>
<body>
<section>
    <h1>회원가입</h1>
</section>

        <input type="text" th:field="${inputID}" placeholder="ID"/>
        <input type="text" th:field="${inputPW}" placeholder="PASSWORD"/>
        <input type="text" th:field="${inputNAME}" placeholder="NAME"/>
        <input type="text" th:field="${inputAU}" placeholder="AUTH"/>
        <input type="date" th:field="${inputDATE}"/>
        <button onclick="test()" type="submit">저장</button>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var obj = { "user_name":[[${inputNAME}]], "user_id":[[${inputID}]], "user_pw":[[${inputPW}]],"user_auth":[[${inputAU}]],"append_date":[[${inputDATE}]] };

        function test() {
            $.ajax({
                url: "http://localhost8081/join",
                type : "POST",
                data : JSON.stringify(obj),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function(data) {
                    console.log(data);
                }
            });
        }
        /*]]>*/
    </script>
</body>
</html>

